//- script(type='text/javascript', src='/javascripts/local.js')
header
  //- .hero-unit
  //-   p p Welcome to #{title}

//- section one
section.css-table
  section.two-column
    section.cell
      h2 Find a Venue, chat with people around.
      
