doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/master.css', type="text/css", media="screen")
    link(rel='stylesheet', href='/stylesheets/fonts.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Product Name
          ul.nav
            li 
              a(href="/") Home
            li 
              a(href="/Login") Login
            li 
              a(href="/chat") Chat
    .container
      .jumbotron
        h1 Chatplac.es
        p Find a place make a chatplace near you
      section#wrapper!= body
          footer.footer 
            section.row-fluid
              section.span3
                  p This is a footer section This is a footer section This is a footer section
              section.span3
                  p This is a footer section This is a footer section This is a footer section
              section.span3
                  p This is a footer section This is a footer section This is a footer section
              section.span3
                  p This is a footer section This is a footer section This is a footer section
